:root {
    --left-position: 140px;
    --bottom-position: 15px;
    --main-padding: 15px;
}

.input { width:30px !important; }

.esconde {display:none;}

.material-icons.md-18 { 
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
}

.no-activo{
    pointer-events: none;
    cursor: default;
}
.preloader-background{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	height: 100vh;
	position: fixed;
	z-index: 9000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.row--arriba{
	padding-top: 20px !important;
}

.mejillonnav{
	position: fixed;
	left: 70px;
	bottom: 10px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997;
}

.arriba{
	position: fixed;
	left: 12px;
	bottom: var(--bottom-position);
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997;
}
.fixed-action-btn3{
	position: fixed;
	left: var(--left-position);
	bottom: var(--bottom-position);
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997;
}
.fixed-action-btn4{
	position: fixed;
	left: calc(var(--left-position) + 50px);
	bottom: var(--bottom-position);
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997;
}
.fixed-action-btn5{
	position: fixed;
	left: calc(var(--left-position) + 100px);
	bottom: var(--bottom-position);
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997;
}